name: Manually triggered workflow
on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:    
      # Push events on main branch
      - main
  workflow_dispatch:
    inputs:
      job:
        description: 'Job to run with-terraform or without-terraform.'
        required: true
        default: 'with-terraform'
jobs:
  with-terraform:
    name: Deploy with-terraform
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.job == 'with-terraform'}}
    steps:
    - name: ${{ github.event.inputs.job }} - step 1
      run: echo "${{ github.event.inputs.job }} triggered!"
    - name: stage - step 2
      run: echo "hi this is with-terraform!"

  without-terraform:
    name: Deploy without-terraform
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.job == 'without-terraform'}}
    steps:
    - name: ${{ github.event.inputs.job }} - step 1
      run: echo "${{ github.event.inputs.job }} triggered!"

  stage3:
    name: Deploy stage3
    runs-on: ubuntu-latest
    needs: with-terraform
    steps:
    - name: stage-3
      run: echo "stage-3 triggered!"

  stage4:
    name: Deploy stage4
    runs-on: ubuntu-latest
    needs: stage3
    steps:
    - name: stage-3
      run: echo "stage-4 triggered!"
