name: Manually triggered workflow
on:
  workflow_dispatch:
    inputs:
      job:
        description: 'Job to run with-terraform or without-terraform.'
        required: true
        default: 'with-terraform'
jobs:
  with-terraform:
    name: Deploy with-terraform
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.job == 'with-terraform'}}
    steps:
    - name: ${{ github.event.inputs.job }} - step 1
      run: echo "${{ github.event.inputs.job }} triggered!"

  without-terraform:
    name: Deploy without-terraform
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.job == 'without-terraform'}}
    steps:
    - name: ${{ github.event.inputs.job }} - step 1
      run: echo "${{ github.event.inputs.job }} triggered!"
